@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Martel:wght@200;300;400;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #555A5F;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Martel", sans-serif;
}

.font-heading {
  font-family: "Marck Script";
}

.font-body {
  font-family: "Martel", serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

/* Initially collapsed */
.expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

/* Expand when parent is hovered */
.vertical-timeline-element--work:hover .expandable-content {
  max-height: 1000px; /* Or any sufficiently large value to fit content */
}